crypto: remove futoin-hkdf module

We can remove futoin-hkdf in the crypto package and natively support HKDF generation that follows the required elements of [RFC 5869](https://tools.ietf.org/html/rfc5869) required by Lightning Noise.

## RFC Details
From section 2 of [RFC 5869](https://tools.ietf.org/html/rfc5869):

```
HMAC-Hash denotes the HMAC function [HMAC] instantiated with hash
function 'Hash'.  HMAC always has two arguments: the first is a key
and the second an input (or message).  (Note that in the extract
step, 'IKM' is used as the HMAC input, not as the HMAC key.)  
```

```
HKDF-Extract(salt, IKM) -> PRK

   Options:
      Hash     a hash function; HashLen denotes the length of the
               hash function output in octets

   Inputs:
      salt     optional salt value (a non-secret random value);
               if not provided, it is set to a string of HashLen zeros.
      IKM      input keying material

   Output:
      PRK      a pseudorandom key (of HashLen octets)

   The output PRK is calculated as follows:

   PRK = HMAC-Hash(salt, IKM)
```

```
HKDF-Expand(PRK, info, L) -> OKM

   Options:
      Hash     a hash function; HashLen denotes the length of the
               hash function output in octets

Inputs:
      PRK      a pseudorandom key of at least HashLen octets
               (usually, the output from the extract step)
      info     optional context and application specific information
               (can be a zero-length string)
      L        length of output keying material in octets
               (<= 255*HashLen)

   Output:
      OKM      output keying material (of L octets)

   The output OKM is calculated as follows:

   N = ceil(L/HashLen)
   T = T(1) | T(2) | T(3) | ... | T(N)
   OKM = first L octets of T

   where:
   T(0) = empty string (zero length)
   T(1) = HMAC-Hash(PRK, T(0) | info | 0x01)
   T(2) = HMAC-Hash(PRK, T(1) | info | 0x02)
   T(3) = HMAC-Hash(PRK, T(2) | info | 0x03)
   ...

   (where the constant concatenated to the end of each T(n) is a
   single octet.)
```

## Quick and Dirty

Performance is comparable to futoin-hkdf currently in use.

```typescript
// tslint:disable: no-console
// tslint:disable: no-shadowed-variable
import crypto from "crypto";

function hmacHash(key: Buffer, input: Buffer, hash: string) {
  const hmac = crypto.createHmac(hash, key);
  hmac.update(input);
  return hmac.digest();
}

/**
 * Partial implementation fo https://tools.ietf.org/html/rfc5869
 * @param salt
 * @param ikm
 * @param len
 */

export function hkdf2(
  salt: Buffer,
  ikm: Buffer,
  len: number,
  info: Buffer = Buffer.alloc(0),
  hash: string = "sha256",
) {
  // extract step
  const prk = hmacHash(salt, ikm, hash);

  // expand
  const n = Math.ceil(len / prk.byteLength);
  const t = [Buffer.alloc(0)];
  for (let i = 1; i <= n; i++) {
    const tp = t[t.length - 1];
    const bi = Buffer.from([i]);
    t.push(hmacHash(prk, Buffer.concat([tp, info, bi]), hash));
  }
  return Buffer.concat(t.slice(1)).slice(0, len);
}

import { hkdf } from "./lib/hkdf";

const salt = Buffer.from("2640f52eebcd9e882958951c794250eedb28002c05d7dc2ea0f195406042caf1", "hex");
const ikm = Buffer.from("1e2fb3c8fe8fb9f262f649f64d26ecf0f2c0a805a767cf02dc2d77a6ef1fdcc3", "hex");

console.log(hkdf(salt, ikm).toString("hex"));
console.log(hkdf2(salt, ikm, 64).toString("hex"));

console.time();
for (let i = 0; i < 100000; i++) {
  hkdf(salt, ikm);
}
console.timeEnd();

console.time();
for (let i = 0; i < 100000; i++) {
  hkdf2(salt, ikm, 64);
}
console.timeEnd();
```

```
$ ../../node_modules/.bin/ts-node test.ts 
b61ec1191326fa240decc9564369dbb3ae2b34341d1e11ad64ed89f89180582fe68f69b7f096d7917245f5e5cf8ae1595febe4d4644333c99f9c4a1282031c9f
b61ec1191326fa240decc9564369dbb3ae2b34341d1e11ad64ed89f89180582fe68f69b7f096d7917245f5e5cf8ae1595febe4d4644333c99f9c4a1282031c9f
default: 1474.432ms
default: 1344.294ms
```

Also passes all test vectors

```typescript

console.log("test case 1");
console.log(
  hkdf2(
    Buffer.from("000102030405060708090a0b0c", "hex"),
    Buffer.from("0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b", "hex"),
    42,
    Buffer.from("f0f1f2f3f4f5f6f7f8f9", "hex"),
  ).toString("hex"), // prettier-ignore
);
console.log("3cb25f25faacd57a90434f64d0362f2a2d2d0a90cf1a5a4c5db02d56ecc4c5bf34007208d5b887185865");

console.log("test case 2");
console.log(
  hkdf2(
    Buffer.from("606162636465666768696a6b6c6d6e6f707172737475767778797a7b7c7d7e7f808182838485868788898a8b8c8d8e8f909192939495969798999a9b9c9d9e9fa0a1a2a3a4a5a6a7a8a9aaabacadaeaf", "hex"),
    Buffer.from("000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f202122232425262728292a2b2c2d2e2f303132333435363738393a3b3c3d3e3f404142434445464748494a4b4c4d4e4f", "hex"),
    82,
    Buffer.from("b0b1b2b3b4b5b6b7b8b9babbbcbdbebfc0c1c2c3c4c5c6c7c8c9cacbcccdcecfd0d1d2d3d4d5d6d7d8d9dadbdcdddedfe0e1e2e3e4e5e6e7e8e9eaebecedeeeff0f1f2f3f4f5f6f7f8f9fafbfcfdfeff", "hex"),
  ).toString("hex"), // prettier-ignore
);
console.log(
  "b11e398dc80327a1c8e7f78c596a49344f012eda2d4efad8a050cc4c19afa97c59045a99cac7827271cb41c65e590e09da3275600c2f09b8367793a9aca3db71cc30c58179ec3e87c14c01d5c1f3434f1d87",
);

console.log("test case 3");
console.log(
  hkdf2(
    Buffer.from("", "hex"),
    Buffer.from("0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b0b", "hex"),
    42,
    Buffer.from("", "hex"),
  ).toString("hex"), // prettier-ignore
);
console.log("8da4e775a563c18f715f802a063c5a31b8a11f5c5ee1879ec3454e5f3c738d2d9d201395faa4b61a96c8");

console.log("test case 4");
console.log(
  hkdf2(
    Buffer.from("000102030405060708090a0b0c", "hex"),
    Buffer.from("0b0b0b0b0b0b0b0b0b0b0b", "hex"),
    42,
    Buffer.from("f0f1f2f3f4f5f6f7f8f9", "hex"),
    "sha1",
  ).toString("hex"), // prettier-ignore
);
console.log("085a01ea1b10f36933068b56efa5ad81a4f14b822f5b091568a9cdd4f155fda2c22e422478d305f3f896");

console.log("test case 5");
console.log(
  hkdf2(
    Buffer.from("606162636465666768696a6b6c6d6e6f707172737475767778797a7b7c7d7e7f808182838485868788898a8b8c8d8e8f909192939495969798999a9b9c9d9e9fa0a1a2a3a4a5a6a7a8a9aaabacadaeaf", "hex"),
    Buffer.from("000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f202122232425262728292a2b2c2d2e2f303132333435363738393a3b3c3d3e3f404142434445464748494a4b4c4d4e4f", "hex"),
    82,
    Buffer.from("b0b1b2b3b4b5b6b7b8b9babbbcbdbebfc0c1c2c3c4c5c6c7c8c9cacbcccdcecfd0d1d2d3d4d5d6d7d8d9dadbdcdddedfe0e1e2e3e4e5e6e7e8e9eaebecedeeeff0f1f2f3f4f5f6f7f8f9fafbfcfdfeff", "hex"),
    "sha1",
  ).toString("hex"), // prettier-ignore
);
console.log(
  "0bd770a74d1160f7c9f12cd5912a06ebff6adcae899d92191fe4305673ba2ffe8fa3f1a4e5ad79f3f334b3b202b2173c486ea37ce3d397ed034c7f9dfeb15c5e927336d0441f4c4300e2cff0d0900b52d3b4",
);
```

```
test case 1
3cb25f25faacd57a90434f64d0362f2a2d2d0a90cf1a5a4c5db02d56ecc4c5bf34007208d5b887185865
3cb25f25faacd57a90434f64d0362f2a2d2d0a90cf1a5a4c5db02d56ecc4c5bf34007208d5b887185865
test case 2
b11e398dc80327a1c8e7f78c596a49344f012eda2d4efad8a050cc4c19afa97c59045a99cac7827271cb41c65e590e09da3275600c2f09b8367793a9aca3db71cc30c58179ec3e87c14c01d5c1f3434f1d87
b11e398dc80327a1c8e7f78c596a49344f012eda2d4efad8a050cc4c19afa97c59045a99cac7827271cb41c65e590e09da3275600c2f09b8367793a9aca3db71cc30c58179ec3e87c14c01d5c1f3434f1d87
test case 3
8da4e775a563c18f715f802a063c5a31b8a11f5c5ee1879ec3454e5f3c738d2d9d201395faa4b61a96c8
8da4e775a563c18f715f802a063c5a31b8a11f5c5ee1879ec3454e5f3c738d2d9d201395faa4b61a96c8
test case 4
085a01ea1b10f36933068b56efa5ad81a4f14b822f5b091568a9cdd4f155fda2c22e422478d305f3f896
085a01ea1b10f36933068b56efa5ad81a4f14b822f5b091568a9cdd4f155fda2c22e422478d305f3f896
test case 5
0bd770a74d1160f7c9f12cd5912a06ebff6adcae899d92191fe4305673ba2ffe8fa3f1a4e5ad79f3f334b3b202b2173c486ea37ce3d397ed034c7f9dfeb15c5e927336d0441f4c4300e2cff0d0900b52d3b4
0bd770a74d1160f7c9f12cd5912a06ebff6adcae899d92191fe4305673ba2ffe8fa3f1a4e5ad79f3f334b3b202b2173c486ea37ce3d397ed034c7f9dfeb15c5e927336d0441f4c4300e2cff0d0900b52d3b4
```